/Makefile
/Makefile.in
/configure
/config.h
/intltool-extract.in
/intltool-merge.in
/stamp-h1
/config.log
/config.sub
/compile
/config.status
/config.h.in
/install-sh
/ltmain.sh
/config.guess
/missing
/intltool-update.in
/libtool
/depcomp
/aclocal.m4
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/autom4te.cache/
/src/Makefile
/src/Makefile.in
/nbproject/private/
/src/.libs/
/src/teonet_tmpl
/src/teocli_as
/autoscan.log
/src/stamp-h1
/src/config.h
/src/config.h.in